* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Helvetica;
}

body {
  height: 100vh;
  background: radial-gradient(circle, #adfefe 0%, #005454 100%);
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
  color: #fff;
}

#container {
  width: 80%;
  margin: 0 auto;
  color: #fff;
}

#sidebar {
  display: flex;
  justify-content: space-between;
  padding: 5px 1rem;
  margin: 2rem auto;
  background-color: #005454;
  border: 1px solid #aaa;
  border-radius: 10px;
  color: #fff;
  font-weight: bold;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px,
    rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}

#sidebar img {
  height: 50px;
  opacity: 0.5;
}

#sidebar ul {
  display: flex;
  gap: 2rem;
  align-items: center;
  list-style: none;
  text-transform: uppercase;
}

.sidebar-links a {
  transition: 0.5s;
}

.sidebar-links a:hover {
  scale: 1.1;
}

#header-main {
  display: flex;
  height: 280px;
  font-size: 4rem;
  margin-top: 10rem;
}

#header-main .info {
  width: 60%;
  padding: 1rem;
  flex-direction: column;
  border-left: 1px solid #ccc;
  text-shadow: #474747 3px 5px 2px;
}

#header-main p {
  font-size: 27px;
}

#header-main .info i {
  font-size: 2rem;
  transition: 0.4s;
}

#header-main .git:hover {
  color: #000;
  text-shadow: none;
}

#header-main .linkedin:hover {
  color: #0e76a8;
  text-shadow: none;
}

#header-main .instagram:hover {
  color: #bc2a8c;
  text-shadow: none;
}

#header-main .image-logo {
  width: 40%;
  align-items: center;
  text-align: center;
}

#header-main .image-logo img {
  height: 300px;
  opacity: 0.5;
}

#about-container {
  margin-top: 13rem;
  background-color: #fefefe;
  text-align: center;
}

#about-container h1 {
  padding-top: 5rem;
  font-size: 25px;
}

.about-inner {
  display: flex;
  height: auto;
  margin: 0 auto;
  width: 80%;
  padding: 5rem;
  text-align: justify;
  gap: 8rem;
  align-items: center;
  line-height: 2rem;
}

.about-inner img {
  height: 400px;
  border-radius: 10px;
  opacity: 0.8;
  box-shadow: 19px 23px 39px -18px rgba(0, 0, 0, 0.92);
  -webkit-box-shadow: 19px 23px 39px -18px rgba(0, 0, 0, 0.92);
  -moz-box-shadow: 19px 23px 39px -18px rgba(0, 0, 0, 0.92);
}

#contact {
  margin-top: 2rem;
  padding: 1rem 2.5rem;
  border-radius: 8px;
  border-style: none;
  font-weight: bold;
  background: radial-gradient(circle, #00ffff 0%, #005454 100%);
  color: #005454;
  font-size: 20px;
  cursor: pointer;
  transition: 0.5s;
  opacity: 0.8;
}

#contact:hover {
  opacity: 1;
}

#tecnologies {
  display: flex;
  background-color: #fefefe;
  padding-bottom: 5rem;
}

#tecnologies i {
  font-size: 30px;
}

#tecnologies ul {
  display: flex;
  justify-content: space-between;
  border-top: 1px solid #00ffff;
  border-bottom: 1px solid #00ffff;
  padding: 2rem 3rem;
  list-style: none;
  align-items: center;
  width: 100%;
}

#tecnologies li {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.fa-js {
  color: #f7e025;
}

.fa-html5 {
  color: #e5532d;
}

.fa-github {
  color: #000;
}

.fa-css3-alt {
  color: #1875bf;
}

.fa-react {
  color: #66dbfb;
}

#projects-container {
  background-color: #005454;
  padding-bottom: 4rem;
}

#projects-container h1 {
  text-align: center;
  padding: 4rem 0;
  color: #fff;
  font-size: 25px;
}

#projects-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 4rem;
  width: 80%;
  margin: 0 auto;
}

.project {
  min-height: 350px;
  min-width: 350px;
  background-color: #fefefe;
  box-shadow: 19px 23px 39px 0px rgba(0, 0, 0, 0.92);
  -webkit-box-shadow: 19px 23px 39px 0px rgba(0, 0, 0, 0.92);
  -moz-box-shadow: 19px 23px 39px 0px rgba(0, 0, 0, 0.92);
}

#contact-container {
  background-color: #fefefe;
}

#contact-container h1 {
  padding-top: 4rem;
  font-size: 25px;
  text-align: center;
}

#contact-inner {
  display: flex;
  width: 80%;
  margin: 3rem auto;
  gap: 10rem;
  margin-bottom: 5rem;
}

#contact-inner span {
  display: block;
  border-top: 1px solid #aaa;
  padding: 2rem 0;
}

.social-media {
  padding-bottom: 3rem;
}

.social-media a {
  color: #000;
  padding-right: 2rem;
}

#about-contact {
  width: 50%;
}

#about-contact p {
  padding-bottom: 3rem;
  border-bottom: 1px solid #aaa;
}

#about-contact h3 {
  background: -webkit-linear-gradient(#005454, #00ffff);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin: 2rem 0;
  font-size: 25px;
}

#contact-form {
  width: 50%;
  margin-top: 2rem;
}

#contact-form label {
  font-weight: bold;
}

#contact-form input {
  display: flex;
  width: 100%;
  margin: 0.5rem 0 1.5rem;
  padding: 0.5rem 1rem;
  border-radius: 5px;
  border: 1px solid #888;
}

#contact-form textarea {
  display: flex;
  resize: none;
  margin: 0.5rem 0;
  padding: 0.5rem 1rem;
  width: 100%;
  height: 100px;
  border-radius: 5px;
}

#contact-form button {
  width: 80%;
  display: block;
  margin: 2rem auto;
}

@media (max-width: 450px) {
  main {
    width: 100%;
  }

  #sidebar {
    font-size: 10px;
  }

  #sidebar img {
    height: 20px;
  }

  #header-main {
    flex-direction: column;
  }

  #header-main img {
    display: none;
  }

  #header-main span {
    font-size: 20px;
  }

  .about-inner {
    flex-direction: column;
    width: 100%;
  }

  .about-info button {
    width: 100%;
  }

  #tecnologies {
    font-size: 10px;
    width: 100%;
  }

  #tecnologies ul {
    padding: 1rem 3rem;
    gap: 3rem;
    padding: 1rem;
  }

  #tecnologies li {
    flex-direction: column;
  }

  #contact-inner {
    flex-direction: column-reverse;
    width: 100%;
    padding: 0 2rem;
    height: auto;
  }

  #about-contact {
    width: 100%;
    margin-top: -7rem;
  }

  .about-image img {
    box-shadow: 0px 17px 26px -15px rgba(0, 0, 0, 1);
    webkit-box-shadow: 0px 17px 26px -15px rgba(0, 0, 0, 1);
    moz-box-shadow: 0px 17px 26px -15px rgba(0, 0, 0, 1);
  }

  #contact-form {
    width: 100%;
  }

  #contact-form button {
    font-size: 15px;
    width: auto;
  }
}
